:host {
    font-family: Arial, Helvetica, sans-serif;
}

.stopwatch-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.stopwatch-container > h1, div, button {
    margin: 10px;
}

.stopwatch-values {
    border: black solid 2px;
    border-radius: 5px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(206, 197, 197);
    font-weight: bold;
}

.main-button {
    background-color: rgb(241, 10, 10);
    color: rgb(231, 222, 222);
}